[project]
	description = simple page to practice Angular Js
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/milad000
[access "refs/for/refs/*"]
	read = group user/milad000
	push = group user/milad000
	label-Code-Review = -2..+2 group user/milad000
	label-Verified = -1..+1 group user/milad000
	rebase = group user/milad000
	removeReviewer = group user/milad000
	submit = group user/milad000
[access "refs/heads/*"]
	read = group user/milad000
	create = group user/milad000
	push = +force group user/milad000
	pushMerge = group user/milad000
[access "refs/tags/*"]
	push = group user/milad000
	push = +force group user/milad000
[receive]
	requireChangeId = true
