<div class="row">
<div class="col-xs-12">
  <app-shopping-edit (ingredientAdded)="onIngredientAdded($event)" ></app-shopping-edit>
  <hr>
  <ul class="list-group">
    <a class="list-group-item clearfix"
       *ngFor="let ingredient of ingredients">
      {{ingredient.name}}({{ingredient.amount}})
      <button type="button" class="close" aria-label="Close" >
        <span aria-hidden="true" (click)="itemToDeleted(ingredient)">&times;</span>
      </button>

    </a>
  </ul>
  <p>The List</p>
</div>
</div>

